 <h2>Standard Users</h2>

 <div class="row">
   <div class="col-md-8">
       
     <% User.where(role: [1]).each do |user| %>
             
 <div class="row">
   <div class="col-md-8">
             <%= user.email %></br>
             <%= link_to "Add This User as Collaborator", collaborators_add_path, class: 'btn-sm btn-success' %>
 <br></br>
 </div>
     </div>
    <% end %>
           
   </div>
 </div>